<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team.seahouse.mapper.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.team.seahouse.domain.Device" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="vendor" property="vendor" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="screen_width" property="screenWidth" jdbcType="VARCHAR" />
    <result column="screen_height" property="screenHeight" jdbcType="VARCHAR" />
    <result column="os_name" property="osName" jdbcType="VARCHAR" />
    <result column="os_version" property="osVersion" jdbcType="VARCHAR" />
    <result column="os_language" property="osLanguage" jdbcType="VARCHAR" />
    <result column="os_vendor" property="osVendor" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>

</mapper>